﻿@model ApplicationGestion_Logement.Models.Utilisateur


@{
    ViewBag.Title = "Index";
}

@section content{

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">

    <div class="col-md-6 col-xs-6 bloginscription environment-blog environment-blog-grid">
        <div class="col-md-12 titre" style="margin-top: 1%;">
            <h2>Votre Login a été validé.</h2>
            <span class="col-md-8">Enregistrer votre mot de passe </span>
        </div>
        <br><br><br><br>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                <h2 class="medium-title"></h2>
                <!-- Form -->
                <form class="login-form" role="form" method="post">
                    <div class="form-group">
                        <label>Mot de passe</label>
                        @Html.EditorFor(model => model.Mpuser, new { htmlAttributes = new { @class = "form-control inputinscription", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Mpuser, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Confirmer le mot de passe</label>
                        @Html.EditorFor(model => model.Mpuser, new { htmlAttributes = new { @class = "form-control inputinscription", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Mpuser, "", new { @class = "text-danger" })
                    </div>

                    <div style="text-align: center;">
                        <button class="btn btn-danger" type="submit" id="submit">Valider</button>
                    </div>

                </form>
            </div>
        </div>


        <br />
    </div>

    </div>

}

    }


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@if (@ViewBag.Message != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
                window.location.href = "@Url.Action("Login", "Account")";

            });
    </script>
}


