﻿@model Gestion_log.Models.Contrat
<div class="col-md-offet-2  col-md-8 " style="margin-left: 29%;">
    <h3>Etes-vous sûr de vouloir faire cela?</h3>
    <div>
        @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ref_contrat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ref_contrat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Deb_contrat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Deb_contrat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fin_contrat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fin_contrat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Locataire.Nom_loc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Locataire.Nom_loc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Logement.MATlog)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Logement.MATlog)
                </dd>

            </dl>*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-lg btn-danger" /> | <a class="btn btn-warning" href="/Contrats">Annuler</a>


            </div>
        }
    </div>
</div>