﻿@model Gestion_log.Models.Contrat

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-8 col-md-offset-2 center">

        <div class="form-horizontal">
            <h4 style="text-align: center;">Contrat</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDcontrat)

            <div class="form-group">
                @Html.LabelFor(model => model.ref_contrat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ref_contrat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ref_contrat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Deb_contrat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Deb_contrat, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.Deb_contrat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fin_contrat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fin_contrat, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.Fin_contrat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nom locataire</label>
                <div class="col-md-10">
                    @Html.DropDownList("Idlocataire", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Idlocataire, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Idlogement, "Idlogement", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Idlogement", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Idlogement, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Modifer" class="btn btn-lg btn-success" />
                    <a href="/Contrats" class="btn btn-lg btn-warning">Annuler</a>
                </div>
            </div>
        </div>
    </div>
}

