﻿<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title -->
    <title>Geomatique</title>
    <!-- /Page title -->
    <!-- Seo Tags -->
    <meta name="description" content="Your page description here" />
    <meta name="keywords" content="Your meta keywords, here" />
    <meta name="robots" content="index, follow">
    <!-- /Seo Tags -->
    <!-- Favicon and Touch Icons
    ========================================================= -->
    <link rel="shortcut icon" href="img/favicon2.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon2.ico" type="image/x-icon">
    <!-- /Favicon
    ========================================================= -->
    <!-- >> CSS
    ============================================================================== -->
    <!-- Bootstrap styles -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- /Bootstrap Styles -->
    <!-- Google Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Hind:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- /google web fonts -->
    <!-- owl carousel -->

    <link href="vendor/owl.carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="vendor/owl.carousel/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- /owl carousel -->
    <!-- fancybox.css -->
    <link href="vendor/fancybox/jquery.fancybox.css" rel="stylesheet">
    <!-- /fancybox.css -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <!-- /Font Awesome -->
    <!-- Main Styles -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <!-- /Main Styles -->
    <!-- /Main Styles -->
    <link href="css/style2.css" rel="stylesheet">


    <style type="text/css">
        .list_telecharger {
            list-style-type: none;
        }

            .list_telecharger > li > a {
                margin-left: 11px;
                font-size: 20px;
                margin-bottom: 25px;
            }

        .list_raison {
            list-style-type: none;
            text-align: left;
        }

            .list_raison > li > a {
                font-size: 18px;
                margin-bottom: 25px;
            }
    </style>

    <!-- >> /CSS
    ============================================================================== -->
</head>

<body>

    <!-- Page Loader
    ========================================================= -->
    <div class="loader-container" id="page-loader">
        <div class="loading-wrapper loading-wrapper-hide">
            <div class="loader-animation" id="loader-animation">
                <svg class="svg-loader" width=100 height=100>
                    <circle cx=50 cy=50 r=25 />
                </svg>
            </div>
            <!-- Edit With Your Name -->
            <div class="loader-name" id="loader-name">
                <!--<img src="img/loader-logo.png" alt="">-->
                GEOMATIQUE 2018
            </div>
            <!-- /Edit With Your Name -->
            <!-- Edit With Your Job -->
            <p class="loader-job" id="loader-job">Mars 4-8 2018 @ Abidjan</p>
            <!-- /Edit With Your Job -->
        </div>
    </div>
    <!-- /End of Page loader
    ========================================================= -->
    <!-- Header
    ================================================== -->
    <header id="header">
        <div class="container">
            <!-- logo -->
            <div class="header-logo col-md-6 elt_header " id="header-logo">
                <img src="img/logo.png" alt="" />
            </div>
            <!-- /logo -->
            <div class="col-md-6 pull-right elt_header">
                <h5 class="pull-right"><a href="#" style="color: #fff">ESPACE EXPOSANTS</a></h5>
            </div>
            <!-- MAIN MENU -->
            <nav class="col-md-12" id="MenuNavigation" style="border-top:1px solid #fff;">

                <ul class="hd-list-menu">

                    <li class="active"><a href="#">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Géomatique <i class="fa fa-chevron-dnown"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Presentation</a></li>
                            <li><a href="#">Bilan 2016</a></li>
                            <li><a href="#">Esposant 2016</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Exposants</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Pourquoi exposer</a></li>
                            <li><a href="#">Listes des exposants</a></li>
                            <li><a href="#">Devenir exposant</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Partenaires</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Pourquoi être parténaire</a></li>
                            <li><a href="#">Devenir parténaire</a></li>

                        </ul>
                    </li>

                    <li><a href="#">Galerie</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Infos pratique</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Date, Lieu, Horaire</a></li>
                            <li><a href="#">Programmes</a></li>
                            <li><a href="#">Plan de la salle</a></li>
                            <li><a href="#">Tarifs</a></li>
                            <li><a href="#">Hébergements</a></li>
                            <li><a href="#">Trajet de la visite</a></li>

                        </ul>
                    </li>

                    <li><a href="#">Contact</a></li>
                    <!--<li style="visibility: hidden;" id="exposant"  ><a  href="#section-register">Espace exposants</a></li>-->
                    <!--
                    <li><a href="#section-event-infos">Géomatique </a></li>
                    <li><a href="#section-schedule">Exposants</a></li>
                    <li><a href="#section-speakers">Partenaires</a></li>
                    <li><a href="#section-testimonials">Galerie</a></li>
                    <li><a href="#section-sponsors">Infos pratique</a></li>
                    <li><a href="#section-blog">Contact</a></li>-->


                </ul>
            </nav>
            <!-- /MAIN MENU -->
        </div>
    </header>
    <!-- /Header
    ================================================== -->

    <div class="page-wrapper">

        <div id="body-content">


            <!-- SECTION: Intro
            ================================================== -->
            <div class="col-md-12" style="background-image: url('img/bg3b.jpg');">
                <div class="elthead" id="head">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="col-md-3 hidden-xs col-sm-4 animated fadeInLeft" style="background: white">
                                <ul class="ca-menu">

                                    <li>
                                        <a href="#">

                                            <div class="ca-content">
                                                <h2 class="ca-main">Date, Lieu, Heure</h2>

                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">

                                            <div class="ca-content">
                                                <h2 class="ca-main">Programme</h2>

                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">

                                            <div class="ca-content">
                                                <h2 class="ca-main">Plan de la salle</h2>

                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">

                                            <div class="ca-content">
                                                <h2 class="ca-main">Tarifs</h2>

                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">

                                            <div class="ca-content">
                                                <h2 class="ca-main">Hebergements</h2>

                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="owl-carousel main-carousel" id="main-carousel">

                                    <!-- slide -->
                                    <div class="main-intro" style="background-image: url('img/bg3b.jpg');">

                                        <div class="container containerslide">
                                            <div class="intro-content-wrapper viewport">


                                                <!-- INTRO CONTENT -->
                                                <!-- Adjust the margin-top in style atribute according to content to keep always centered vertically-->
                                                <div class="intro-content intro-content-slide1">
                                                    <!-- row -->
                                                    <div class="row">

                                                        <!-- col -->
                                                        <div class="">
                                                            <!-- event logo -->
                                                            <div class="ic-logo">
                                                                <img src="img/intro-logo4.png" alt="">
                                                            </div>
                                                            <!-- /event logo -->
                                                            <!-- Event Infos -->
                                                            <div class="ic-infos animated infinite bounce">
                                                                <p>Juin 4-8 2018 @ Abidjan</p>
                                                            </div>
                                                            <!-- /Event Infos -->



                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                    <!-- /row -->

                                                </div>
                                                <!-- /INTRO CONTENT -->

                                            </div>

                                        </div>
                                    </div>
                                    <!-- /slide -->
                                    <!-- slide -->
                                    <div class="main-intro" style="background-image: url('img/bg3b.jpg');">

                                        <div class="container containerslide">
                                            <div class="intro-content-wrapper viewport">


                                                <!-- INTRO CONTENT -->
                                                <!-- Adjust the margin-top in style atribute according to content to keep always centered vertically-->
                                                <div class="intro-content intro-content-slide1">
                                                    <!-- row -->
                                                    <div class="row">

                                                        <!-- col -->
                                                        <div class="col-sm-9">
                                                            <!-- event logo -->
                                                            <div class="ic-logo">
                                                                <img src="img/mapa1.png" alt="">
                                                            </div>



                                                            <!-- /Event Infos -->

                                                        </div>
                                                        <!-- /col -->
                                                    </div>
                                                    <!-- /row -->

                                                </div>
                                                <!-- /INTRO CONTENT -->

                                            </div>

                                        </div>
                                    </div>
                                    <!-- /slide -->


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


                <!-- /SECTION: Intro
                ================================================== -->
                <!-- SECTION: Event Description
                ================================================== -->
                <div class="container section-about" id="section-about">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="cont_principal col-md-12" style="margin-top: 37px">
                                <div class="cont_text_img">
                                    <div class="cont_img_back">
                                        <img class='img_1' src="img/mapa1.png" alt="" />
                                        <img class='img_2' src="img/mapa2.jpg" alt="" />
                                    </div>
                                    <div class="cont_text">
                                        <h1>GEOMATIQUE</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales varius sagittis. Proin a arcu vitae turpis congue facilisis. Quisque a lectus pretium, sagittis augue in, fringilla risus. Quisque elementum, ante a maximus commodo, dui metus imperdiet mi, sit amet tempor lectus erat ac orci. Mauris suscipit rhoncus lobortis. Quisque tincidunt nisi libero. </p>
                                        <button class="btn_read_m">Lire plus</button>
                                        <!--<div class="cont_icon_like">
                                        <p>    <i class="material-icons"></i><span>288</span></p>
                                            </div>-->
                                    </div>
                                    <div class="cont_img_frond hidden-xs">
                                        <img class='img_1' src="img/mapa1.png" alt="" />
                                        <img class='img_2' src="img/mapa2.jpg" alt="" />
                                        <div class="cont_icons_img_from">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-facebook"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-twitter"></i>
                                                </li>
                                                <li><i class="fa fa-youtube"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <!-- /SECTION: Event Description
                ================================================== -->
                <!-- SECTION: Event Schedule
                ================================================== -->
                <div class="container section-schedule section-bg-left" id="section-schedule">
                    <div class="container">

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <!-- Section title -->
                                <div class="section-title-wrapper">
                                    <h2 class="title-section"><span class="title-section-bg titrecolor">Dossiers <small></small></span></h2>
                                </div>
                                <!-- /Section title -->
                                <!-- item -->
                                <div class="col-sm-6">
                                    <a href="#" class="price-ticket-item">
                                        <div class="">
                                            <!-- Front card -->
                                            <div class="price-ticket-item-front">
                                                <div class="price-ticket-item-border">
                                                    <div class="price-ticket-buy" style="margin-top: 24px;">
                                                        <p class="ticket-item-buy-ico"></p>
                                                        <h3 class="ticket-item-buy-text">Devenir exposant</h3>
                                                        <p><i>Cliquer ici!</i></p>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                    </a>
                                </div>
                                <!-- /item -->
                                <div class="col-sm-6">
                                    <!-- price ticket -->
                                    <a href="#" class="price-ticket-item">
                                        <div class="">
                                            <!-- Front card -->
                                            <div class="price-ticket-item-front">
                                                <div class="price-ticket-item-border">
                                                    <div class="price-ticket-buy" style="margin-top: 24px;">
                                                        <p class="ticket-item-buy-ico"></p>
                                                        <h3 class="ticket-item-buy-text">Devenir partenaires</h3>
                                                        <p><i>Cliquer ici!</i></p>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                    </a>

                                </div>
                                <!-- /item -->
                                <!-- TABS -->

                            </div>

                            <div class="col-md-6">
                                <!-- Section title -->
                                <div class="section-title-wrapper">
                                    <h2 class="title-section"><span class="title-section-bg titrecolor">Programmes <small></small></span></h2>
                                </div>
                                <!-- /Section title -->
                                <!-- TABS -->
                                <div class="tabs">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-2 schedule-tab-links-wrapper">
                                            <!-- Tab links -->
                                            <ul class="tab-links schedule-tab-links">
                                                <li class="active"><a href="#schedule-tab1"><span class="fa fa-calendar"></span>&nbsp;&nbsp; Jour 1</a></li>
                                                <li><a href="#schedule-tab2"><span class="fa fa-calendar"></span>&nbsp;&nbsp; Jour 2</a></li>

                                            </ul>
                                            <!-- /Tab Links -->
                                        </div>
                                    </div>


                                    <!-- Schedule Tabs -->
                                    <div class="schedule-tabs">
                                        <!-- Schedule Tab -->
                                        <div class="schedule-tab tab" id="schedule-tab1">
                                            <!-- schedule list -->
                                            <div class="schedule-list">

                                                <!-- Schedule itens header -->
                                                <div class="schedule-item-header">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <!-- schedule item bar -->
                                                            <div class="schedule-item-block schedule-item-block-top">
                                                                <div class="schedule-item-bar schedule-item-bar-top"></div>
                                                            </div>
                                                            <!-- /schedule item bar -->
                                                        </div>
                                                        <div class="col-sm-10">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Schedule itens header -->
                                                <!-- Schedule item -->
                                                <div class="schedule-item">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <!-- schedule item bar -->
                                                            <div class="schedule-item-block">
                                                                <div class="schedule-item-bar"></div>
                                                            </div>
                                                            <!-- /schedule item bar -->
                                                        </div>
                                                        <div class="col-sm-10 schedule-item-content-wrapper">
                                                            <!-- schedule item content -->
                                                            <div class="schedule-item-content">
                                                                <div class="row">
                                                                    <!-- col -->
                                                                    <div class="col-sm-2">
                                                                        <div class="schedule-item-img">
                                                                            <img src="img/schedule-img1.jpg" alt="">
                                                                        </div>
                                                                    </div>
                                                                    <!-- /col -->
                                                                    <!-- col -->
                                                                    <div class="col-sm-10">
                                                                        <div class="schedule-item-infos">
                                                                            <h4 class="schedule-item-date">9:30 - 11:30</h4>
                                                                            <h3 class="schedule-item-title">Accueil & Enregistrement</h3>
                                                                            <div class="schedule-item-text">
                                                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /col -->
                                                                </div>
                                                            </div>
                                                            <!-- schedule item content -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Schedule item -->
                                                <!-- Schedule itens footer -->
                                                <div class="schedule-item-footer">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <!-- schedule item bar -->
                                                            <div class="schedule-item-block schedule-item-block-bottom">
                                                                <div class="schedule-item-bar schedule-item-bar-bottom"></div>
                                                            </div>
                                                            <!-- /schedule item bar -->
                                                        </div>
                                                        <div class="col-sm-10">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Schedule itens footer -->
                                            </div>
                                            <!-- /schedule list -->
                                        </div>
                                        <!-- /Schedule Tab -->
                                        <!-- Schedule Tab -->
                                        <div class="schedule-tab tab" id="schedule-tab2">
                                            <!-- schedule list -->
                                            <div class="schedule-list">

                                                <!-- Schedule itens header -->
                                                <div class="schedule-item-header">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <!-- schedule item bar -->
                                                            <div class="schedule-item-block schedule-item-block-top">
                                                                <div class="schedule-item-bar schedule-item-bar-top"></div>
                                                            </div>
                                                            <!-- /schedule item bar -->
                                                        </div>
                                                        <div class="col-sm-10">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Schedule itens header -->
                                                <!-- Schedule item -->
                                                <div class="schedule-item">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <!-- schedule item bar -->
                                                            <div class="schedule-item-block">
                                                                <div class="schedule-item-bar"></div>
                                                            </div>
                                                            <!-- /schedule item bar -->
                                                        </div>
                                                        <div class="col-sm-10 schedule-item-content-wrapper">
                                                            <!-- schedule item content -->
                                                            <div class="schedule-item-content">
                                                                <div class="row">
                                                                    <!-- col -->
                                                                    <div class="col-sm-2">
                                                                        <div class="schedule-item-img">
                                                                            <img src="img/schedule-img5.jpg" alt="">
                                                                        </div>
                                                                    </div>
                                                                    <!-- /col -->
                                                                    <!-- col -->
                                                                    <div class="col-sm-10">
                                                                        <div class="schedule-item-infos">
                                                                            <h4 class="schedule-item-date">16:30 - 18:00</h4>
                                                                            <h3 class="schedule-item-title">Visite des stands</h3>
                                                                            <div class="schedule-item-text">
                                                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /col -->
                                                                </div>
                                                            </div>
                                                            <!-- schedule item content -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Schedule item -->
                                                <!-- Schedule itens footer -->
                                                <div class="schedule-item-footer">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <!-- schedule item bar -->
                                                            <div class="schedule-item-block schedule-item-block-bottom">
                                                                <div class="schedule-item-bar schedule-item-bar-bottom"></div>
                                                            </div>
                                                            <!-- /schedule item bar -->
                                                        </div>
                                                        <div class="col-sm-10">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Schedule itens footer -->
                                            </div>
                                            <!-- /schedule list -->
                                        </div>
                                        <!-- /Schedule Tab -->


                                    </div>
                                    <!-- /Schedule Tabs -->

                                </div>
                                <!-- /TABS -->
                            </div>

                        </div>

                    </div>
                </div>
                <!-- /SECTION: Event Schedule
                ================================================== -->
                <div class="section-blog section-padding container" id="section-blog">
                    <div class="col-md-12">

                        <div class="col-md-4">
                            <div class="blog-item-wrapper">

                                <!-- Blog item - infos -->
                                <div class="blog-item-infos">
                                    <!-- blog-item-title -->
                                    <div class="blog-item-title-wrapper">
                                        <h2 class="blog-item-title title-border"><a href="#" class="">Télécharger</a></h2>
                                    </div>
                                    <!-- /blog-item-title -->
                                    <!-- blog item - description -->
                                    <div class="blog-item-description">
                                        <ul class="list_telecharger">
                                            <li><a href="#">Dossier de participation et tarifs</a></li>
                                            <li><a href="#">Guide du site</a></li>
                                            <li><a href="#">Programme</a></li>

                                        </ul>
                                    </div>
                                    <!-- /blog-item-description -->

                                </div>
                                <!-- /blog item - infos -->
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="blog-item-wrapper">

                                <!-- Blog item - infos -->
                                <div class="blog-item-infos">
                                    <!-- blog-item-title -->
                                    <div class="blog-item-title-wrapper">
                                        <h2 class="blog-item-title title-border"><a href="#" class="">Organisateurs</a></h2>
                                    </div>
                                    <!-- /blog-item-title -->
                                    <!-- blog item - description -->
                                    <div class="blog-item-description">

                                        <div class="owl-carousel" id="about-team">
                                            <!-- item -->
                                            <div class="team-item">
                                                <!-- team-member wrapper-->
                                                <div class="team-item-wrapper">
                                                    <!-- team-member pic -->
                                                    <div class="team-member-picture-wrapper">
                                                        <div class="team-item-picture">
                                                            <img src="img/team1.jpg" alt="" />
                                                        </div>
                                                        <div class="team-member-find">
                                                            <div class="team-member-find-overlay">
                                                                <!-- overlay content -->
                                                                <div class="team-member-find-content">
                                                                    <a href="#" class="block-link"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-envelope"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-phone"></span></a>
                                                                </div>
                                                                <!-- /overlay content -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /team-member pic -->

                                                </div>
                                                <!-- /team-member wrapper-->
                                            </div>
                                            <!-- /item -->
                                            <!-- item -->
                                            <div class="team-item">
                                                <!-- team-member wrapper-->
                                                <div class="team-item-wrapper">
                                                    <!-- team-member pic -->
                                                    <div class="team-member-picture-wrapper">
                                                        <div class="team-item-picture">
                                                            <img src="img/team2.jpg" alt="" />
                                                        </div>
                                                        <div class="team-member-find">
                                                            <div class="team-member-find-overlay">
                                                                <!-- overlay content -->
                                                                <div class="team-member-find-content">
                                                                    <a href="#" class="block-link"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-envelope"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-phone"></span></a>
                                                                </div>
                                                                <!-- /overlay content -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- /team-member pic -->

                                                </div>
                                                <!-- /team-member wrapper-->
                                            </div>
                                            <!-- /item -->
                                            <!-- item -->
                                            <div class="team-item">
                                                <!-- team-member wrapper-->
                                                <div class="team-item-wrapper">
                                                    <!-- team-member pic -->
                                                    <div class="team-member-picture-wrapper">
                                                        <div class="team-item-picture">
                                                            <img src="img/team3.jpg" alt="" />
                                                        </div>
                                                        <div class="team-member-find">
                                                            <div class="team-member-find-overlay">
                                                                <!-- overlay content -->
                                                                <div class="team-member-find-content">
                                                                    <a href="#" class="block-link"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-envelope"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-phone"></span></a>
                                                                </div>
                                                                <!-- /overlay content -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- /team-member pic -->
                                                    <!-- team-member Infos -->
                                                    <!--<div class="team-item-content">
                                                        <h3 class="team-item-title">James Rex</h3>
                                                        <p class="team-item-subtitle">Ux @ Dupstudio</p>
                                                    </div>
                                                    <!-- team-member Infos -->
                                                </div>
                                                <!-- /team-member wrapper-->
                                            </div>
                                            <!-- /item -->
                                            <!-- item -->
                                            <div class="team-item">
                                                <!-- team-member wrapper-->
                                                <div class="team-item-wrapper">
                                                    <!-- team-member pic -->
                                                    <div class="team-member-picture-wrapper">
                                                        <div class="team-item-picture">
                                                            <img src="img/team4.jpg" alt="" />
                                                        </div>
                                                        <div class="team-member-find">
                                                            <div class="team-member-find-overlay">
                                                                <!-- overlay content -->
                                                                <div class="team-member-find-content">
                                                                    <a href="#" class="block-link"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-envelope"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-phone"></span></a>
                                                                </div>
                                                                <!-- /overlay content -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- /team-member pic -->
                                                    <!-- team-member Infos -->
                                                    <!--<div class="team-item-content">
                                                        <h3 class="team-item-title">Melissa Rex</h3>
                                                        <p class="team-item-subtitle">Co-Founder @ DotRex</p>
                                                    </div>
                                                    <!-- team-member Infos -->
                                                </div>
                                                <!-- /team-member wrapper-->
                                            </div>
                                            <!-- /item -->
                                            <!-- item -->
                                            <div class="team-item">
                                                <!-- team-member wrapper-->
                                                <div class="team-item-wrapper">
                                                    <!-- team-member pic -->
                                                    <div class="team-member-picture-wrapper">
                                                        <div class="team-item-picture">
                                                            <img src="img/team1.jpg" alt="" />
                                                        </div>
                                                        <div class="team-member-find">
                                                            <div class="team-member-find-overlay">
                                                                <!-- overlay content -->
                                                                <div class="team-member-find-content">
                                                                    <a href="#" class="block-link"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-envelope"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-phone"></span></a>
                                                                </div>
                                                                <!-- /overlay content -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- /team-member pic -->

                                                </div>
                                                <!-- /team-member wrapper-->
                                            </div>
                                            <!-- /item -->
                                            <!-- item -->
                                            <div class="team-item">
                                                <!-- team-member wrapper-->
                                                <div class="team-item-wrapper">
                                                    <!-- team-member pic -->
                                                    <div class="team-member-picture-wrapper">
                                                        <div class="team-item-picture">
                                                            <img src="img/logocntig.png" alt="" />
                                                        </div>
                                                        <div class="team-member-find">
                                                            <div class="team-member-find-overlay">
                                                                <!-- overlay content -->
                                                                <div class="team-member-find-content">
                                                                    <a href="#" class="block-link"><span class="fa fa-facebook"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-twitter"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-envelope"></span></a>
                                                                    <a href="#" class="block-link"><span class="fa fa-phone"></span></a>
                                                                </div>
                                                                <!-- /overlay content -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- /team-member pic -->

                                                </div>
                                                <!-- /team-member wrapper-->
                                            </div>
                                            <!-- /item -->
                                        </div>

                                    </div>

                                </div>
                                <!-- /blog item - infos -->
                            </div>
                        </div>
                    </div>
                </div>



                <!-- SECTION: Testimonials
                ================================================== -->
                <div class="container section-testimonials section-padding section-bg-right" id="section-testimonials">
                    <div class="container  ">
                        <!-- Section title -->
                        <div class="section-title-wrapper">
                            <h2 class="title-section titrecolor">Les 3 bonnes raisons d'exposer à la GEOMATIQUE </h2>
                        </div>
                        <!-- /Section title -->
                        <div class="col-md-12 animated fadeInUp">
                            <div class="col-md-4">
                                <div class="blog-item-wrapper">

                                    <!--<div class="blog-item-thumb">
                                        <i class="fa fa-eye"></i>
                                    </div>-->
                                    <!-- /blog item thumbnail -->
                                    <!-- Blog item - infos -->
                                    <div class="blog-item-infos">
                                        <!-- blog-item-title -->
                                        <div class="blog-item-title-wrapper">
                                            <h2 class="blog-item-title title-border"><a href="#" class="">Bénéficier d’une plus grande visibilité</a></h2>
                                        </div>
                                        <!-- /blog-item-title -->
                                        <!-- blog item - description -->
                                        <div class="blog-item-description">
                                            <ul class="list_raison">
                                                <li><a href="#">- Plus de 500 000 visiteurs attendus pour cette édition 2017.</a></li>
                                                <li><a href="#">- 8 hectares de surface d’exposition.</a></li>
                                                <li><a href="#">- Plus de 18 pays représentés.</a></li>

                                            </ul>

                                        </div>
                                        <!-- /blog-item-description -->
                                        <!-- blog item - link -->
                                        <div class="blog-item-link">
                                            <a href="#" class=" btn btn-nobg">Participer</a>
                                        </div>
                                        <!-- /blog item - link -->
                                    </div>
                                    <!-- /blog item - infos -->
                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="blog-item-wrapper">

                                    <!--<div class="blog-item-thumb">
                                        <i class="fa fa-eye"></i>
                                    </div>-->
                                    <!-- /blog item thumbnail -->
                                    <!-- Blog item - infos -->
                                    <div class="blog-item-infos">
                                        <!-- blog-item-title -->
                                        <div class="blog-item-title-wrapper">
                                            <h2 class="blog-item-title title-border"><a href="#" class="">Nouer des contacts, partager des expériences</a></h2>
                                        </div>
                                        <!-- /blog-item-title -->
                                        <!-- blog item - description -->
                                        <div class="blog-item-description">
                                            <ul class="list_raison">
                                                <li><a href="#">- 6 081 professionnels enregistrés pour l’édition 2016.</a></li>
                                                <li><a href="#">- 3 253 exposants dont plus de 600 entreprises</a></li>


                                            </ul>

                                        </div>
                                        <!-- /blog-item-description -->
                                        <!-- blog item - link -->
                                        <div class="blog-item-link">
                                            <a href="#" class=" btn btn-nobg">Participer</a>
                                        </div>
                                        <!-- /blog item - link -->
                                    </div>
                                    <!-- /blog item - infos -->
                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="blog-item-wrapper">

                                    <!--<div class="blog-item-thumb">
                                        <i class="fa fa-eye"></i>
                                    </div>-->
                                    <!-- /blog item thumbnail -->
                                    <!-- Blog item - infos -->
                                    <div class="blog-item-infos">
                                        <!-- blog-item-title -->
                                        <div class="blog-item-title-wrapper">
                                            <h2 class="blog-item-title title-border"><a href="#" class="">Multiplier les occasions de vendre vos produits</a></h2>
                                        </div>
                                        <!-- /blog-item-title -->
                                        <!-- blog item - description -->
                                        <div class="blog-item-description">
                                            <ul class="list_raison">
                                                <li><a href="#">Le nombre considérable de visiteurs et d’investisseurs  attendus est une véritable garantie de chiffre d’affaires et de partenariats.</a></li>



                                            </ul>

                                        </div>
                                        <!-- /blog-item-description -->
                                        <!-- blog item - link -->
                                        <div class="blog-item-link">
                                            <a href="#" class=" btn btn-nobg">Participer</a>
                                        </div>
                                        <!-- /blog item - link -->
                                    </div>
                                    <!-- /blog item - infos -->
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
                <!-- /SECTION: Testimonials
                ================================================== -->
                <!-- SECTION: Sponsors
                ================================================== -->
                <div class="container section-sponsors inverted-section2 section-padding " id="section-sponsors">
                    <div class="container">
                        <!-- Section title -->
                        <div class="section-title-wrapper">
                            <h2 class="title-section titrecolor">Partenaires</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias esse cumque quae, perferendis neque voluptate recusandae, rem soluta quam error reiciendis consequuntur. Officia delectus quidem blanditiis eum incidunt temporibus nobis</p>
                        </div>
                        <!-- /Section title -->

                        <div class="sponsors-list-wrapper">
                            <div class="sponsors-list" id="sponsors-carousel">
                                <!-- item -->
                                <div class="sponsor-item">
                                    <img src="img/partner-1.png" alt="">
                                </div>
                                <!-- /item -->
                                <!-- item -->
                                <div class="sponsor-item">
                                    <img src="img/partner-2.png" alt="">
                                </div>
                                <!-- /item -->
                                <!-- item -->
                                <div class="sponsor-item">
                                    <img src="img/partner-3.png" alt="">
                                </div>
                                <!-- /item -->
                                <!-- item -->
                                <div class="sponsor-item">
                                    <img src="img/partner-4.png" alt="">
                                </div>
                                <!-- /item -->
                                <!-- item -->
                                <div class="sponsor-item">
                                    <img src="img/partner-5.png" alt="">
                                </div>
                                <!-- /item -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /SECTION: Sponsors
                ================================================== -->







            </div>
        </div>

        <!-- Contact Form - Ajax Messages
        ========================================================= -->
        <!-- Form Sucess -->
        <div class="form-result modal-wrap" id="contactSuccess">
            <div class="modal-bg"></div>
            <div class="modal-content">
                <h4 class="modal-title"><i class="fa fa-check-circle"></i> Success!</h4>
                <p>Your message has been sent to us.</p>
            </div>
        </div>
        <!-- /Form Sucess -->
        <!-- form-error -->
        <div class="form-result modal-wrap" id="contactError">
            <div class="modal-bg"></div>
            <div class="modal-content">
                <h4 class="modal-title"><i class="fa fa-times"></i> Error</h4>
                <p>There was an error sending your message.</p>
            </div>
        </div>
        <!-- /form-error -->
        <!-- / Contact Form - Ajax Messages
        ========================================================= -->
        <!-- Footer
        ================================================== -->
        <footer id="footer" class="jumb-footer">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- col -->
                    <div class="col-sm-6">
                        Copyright © 2018<i>- CNTIG</i>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-sm-6 text-right">
                        <!-- Social Icons -->
                        <div class="footer-social-icons">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                        <!-- /Social Icons -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
        </footer>
        <!-- /Footer
        ================================================== -->
        <!-- >> JS
        ============================================================================== -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

        <script src="vendor/jquery-1.11.3.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Crossbrowser-->
        <script src="vendor/cross-browser.js"></script>
        <!-- /Crossbrowser-->
        <!-- CountDown -->
        <script src="vendor/jquery.countdown.min.js"></script>
        <!-- /CountDown -->
        <!-- Waypoints-->
        <script src="vendor/waypoints.min.js"></script>
        <!-- /Waypoints-->
        <!-- Validate -->
        <script src="vendor/validate.js"></script>
        <!-- / Validate -->
        <!-- Fancybox -->
        <script src="vendor/fancybox/jquery.fancybox.js"></script>
        <!-- /fancybox -->
        <!-- Owl Caroulsel -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js"></script>-->
        <script src="vendor/owl.carousel/owl-carousel/owl.carousel.js"></script>
        <!-- /Owl Caroulsel -->
        <!-- Main JS -->
        <script src="js/main.js"></script>


        <!-- /Main JS -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- >> /JS
        ============================================================================= -->
        <script type="text/javascript">
	var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
        </script>

        <script>
	/*
-------------------------------------
------------------------------------- The image changue  every 10 Secons
-------------------------------------
-------------------------------------
*/

var Cont = 0;
function inic(){
if(Cont % 2 != 0){
  document.querySelector('.img_1').style.opacity = '0';
  document.querySelectorAll('.img_1')[1].style.opacity = '0';

setTimeout(function (){
document.querySelector('.img_1').className = 'img_1 img_d_n';
    document.querySelectorAll('.img_1')[1].className = 'img_1 img_d_n';

  document.querySelector('.img_2').className = 'img_2 img_d_b';

  document.querySelectorAll('.img_2')[1].className = 'img_2 img_d_b';

},500);
  setTimeout(function (){
document.querySelector('.img_2').style.opacity = '0.2';
  document.querySelectorAll('.img_2')[1].style.opacity = '1';

  },600);
    Cont++;
}else{

  document.querySelector('.img_2').style.opacity = '0';
  document.querySelectorAll('.img_2')[1].style.opacity = '0';

setTimeout(function (){

  document.querySelector('.img_2').className = 'img_2 img_d_n';
  document.querySelectorAll('.img_2')[1].className = 'img_2 img_d_n';

  document.querySelector('.img_1').className = 'img_1 img_d_b';
  document.querySelectorAll('.img_1')[1].className = 'img_1 img_d_b';

},500);

  setTimeout(function (){
document.querySelector('.img_1').style.opacity = '0.2';
document.querySelectorAll('.img_1')[1].style.opacity = '1';
  },600);
  Cont++;
}   }

window.onload = function (){
  inic();  document.querySelector('.cont_text_img').className = "cont_text_img cont_text_img_act";
setTimeout(function(){
  document.querySelector('.cont_img_frond').className = "cont_img_frond  cont_img_frond_active";
},1700);


}

setInterval(function(){ inic() }, 10000);

        </script>
</body>

</html>