﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gestion de logements | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    
    <link rel="stylesheet" href="/Areas/Administration/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Areas/Administration/content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Areas/Administration/content/dist/css/skins/_all-skins.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/Areas/Administration/content/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/Areas/Administration/content/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Areas/Administration/content/plugins/daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/Areas/Administration/content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/Areas/Administration/content/plugins/datatables/dataTables.bootstrap.css">
    <!--sweetalert-->
    <link rel="stylesheet" href="/Areas/Administration/Content/perso/css/sweetalert.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @RenderSection("Style", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @*<img src="~/Content/images/55357965_170619_0340_9u1iaj.png" class="user-image" alt="User Image">*@
                                <span class="hidden-xs">Kouamé Alexi</span>
                            </a>


                            <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="height: auto; margin-top: -3%;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        @*<img src="~/Content/images/55357965_170619_0340_9u1iaj.png" class="img-circle" alt="User Image">*@
                    </div>
                    <div class="pull-left info">
                        <p>Kouamé Alexi</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="treeview">
                       
                        <a href="/Administration/Home/Index">
                            <i class="fa fa-dashboard"></i> <span> TABLEAU DE BORD</span>
                        </a>

                    </li>
                    <li class="treeview">
                        <a href="/Administration/Logements/Index">
                            <i class="fa fa-home"></i> <span>Logement</span>
                        </a>

                    </li>

                    <li class="treeview">
                        <a href="/Administration/Type_Logement/Index">
                            <i class="fa fa-circle-o text-aqua"></i>
                            <span>Type de logement</span>
                        </a>

                    </li>

                    <li class="treeview">
                        <a href="/Administration/Quartiers/Index">
                            <i class="fa fa-circle-o text-aqua"></i>
                            <span>Quartier</span>
                        </a>

                    </li>

                    <li class="treeview">
                        <a href="/Administration/Communes/Index">
                            <i class="fa fa-circle-o text-aqua"></i>
                            <span>Commune</span>
                        </a>

                    </li>

                    <li class="treeview">
                        <a href="/Administration/Locataires/Index">
                            <i class="fa fa-users"></i>
                            <span>Locataire</span>
                        </a>

                    </li>
                    <li class="treeview">
                        <a href="/Administration/Proprietaire/Index">
                            <i class="fa fa-users"></i>
                            <span>Propriétaire</span>
                        </a>

                    </li>

                    <li class="treeview">
                        <a href="/Administration/Contrats/Index">
                            <i class="fa fa-circle-o text-aqua"></i>
                            <span>Contrat</span>
                        </a>

                    </li>
                    <li class="treeview">
                        <a href="/Administration/Profils/Index">
                            <i class="fa fa-circle-o text-aqua"></i>
                            <span>Profils</span>
                        </a>

                    </li>


                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>


    <!-- Bootstrap 3.3.6 -->
    <script src="/Areas/Administration/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="/Areas/Administration/Content/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="/Areas/Administration/Content/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="/Areas/Administration/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/Areas/Administration/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/Areas/Administration/Content/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="/Areas/Administration/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="/Areas/Administration/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/Areas/Administration/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="/Areas/Administration/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/Areas/Administration/Content/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/Areas/Administration/Content/dist/js/app.min.js"></script>


    <!-- DataTables -->
    <script src="/Areas/Administration/content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Areas/Administration/content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SUMMERNOT - EDITEUR DE TEXTE WYSIWYG -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/lang/summernote-fr-FR.js"></script>

    <script>
    //Initialisation de l'éditeur de texte
    $(document).ready(function () {
        $('#desc').summernote({
            placeholder: 'Saisir la description ici',
            height: 250,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            //focus: true                  // set focus to editable area after initializing summernote
            lang: 'fr-FR',
            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    sendFile(files[0], $(this), welEditable);
                }
            }
        });

        function sendFile(file, editor, welEditable) {
            var formData = new FormData();
            formData.append('file', $('.note-image-input')[0].files[0]);
            $.ajax({
                type: 'post',
                url: '/Post/UploadFiles',
                data: formData,
                success: function (result) {
                    //if (status != 'error') {
                        var my_path = result.fp;
                        editor.summernote('insertImage', my_path);
                        //$("#myUploadedImg").attr("src", my_path);
                    //}
                },
                processData: false,
                contentType: false,
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


    });

    var _URL = window.URL || window.webkitURL;
    $(".note-image-input").on('change', function () {

        var file, img;
        if ((file = this.files[0])) {
            img = new Image();
            img.onload = function () {
                sendFile(file);
            };
            img.onerror = function () {
                alert("Not a valid file:" + file.type);
            };
            img.src = _URL.createObjectURL(file);
        }
    });
    </script>

    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
   
    @RenderSection("Script", required:false)

</body>
</html>
