﻿<header class="main-header">
    <!-- Logo -->
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/images/55357965_170619_0340_9u1iaj.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">Kouamé Alexi</span>
                    </a>


                    <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
</header>
        <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="height: auto; margin-top: -3%;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/images/55357965_170619_0340_9u1iaj.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Kouamé Alexi</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="/Home/Index">
                    <i class="fa fa-dashboard"></i> <span> TABLEAU DE BORD</span>
                </a>

            </li>
            <li class="treeview">
                <a href="/Logements/Index">
                    <i class="fa fa-home"></i> <span>Logement</span>
                </a>

            </li>

            <li class="treeview">
                <a href="/Type_Logement/Index">
                    <i class="fa fa-circle-o text-aqua"></i>
                    <span>Type de logement</span>
                </a>

            </li>

            <li class="treeview">
                <a href="/Quartiers/Index">
                    <i class="fa fa-circle-o text-aqua"></i>
                    <span>Quartier</span>
                </a>

            </li>

            <li class="treeview">
                <a href="/Communes/Index">
                    <i class="fa fa-circle-o text-aqua"></i>
                    <span>Commune</span>
                </a>

            </li>

            <li class="treeview">
                <a href="/Locataires/Index">
                    <i class="fa fa-users"></i>
                    <span>Locataire</span>
                </a>

            </li>

            <li class="treeview">
                <a href="/Contrats/Index">
                    <i class="fa fa-circle-o text-aqua"></i>
                    <span>Contrat</span>
                </a>

            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>