﻿
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin: -15px;">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Areas/Administration/Content/images/trolltunga.jpg" alt="First slide" style="width: 100%;">

            <div class="carousel-caption">
                First Slide
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="fa fa-angle-right"></span>
    </a>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-aqua" onclick="location.href='/Logements/Index'">

            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Logement</span>
                <span class="info-box-number">41,410</span>



            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-aqua" onclick="location.href='/Type_logement/Index'">
            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Type de logement</span>
                <span class="info-box-number">41,410</span>


            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-aqua" ref="" onclick="location.href='/Locataires/Index'">
            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Locataire</span>
                <span class="info-box-number">41,410</span>


            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-aqua" onclick="location.href='/Communes/Index'">
            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Commune</span>
                <span class="info-box-number">41,410</span>


            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-aqua" onclick="location.href='/Quartiers/Index'">
            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Quartier</span>
                <span class="info-box-number">41,410</span>


            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-aqua" onclick="location.href='/Contrats/Index'">
            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Contrat</span>
                <span class="info-box-number">41,410</span>


            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>
<!-- ./wrapper -->
<!-- ./wrapper -->
@section Script{
 

    }