﻿@model Gestion_log.Models.Logement

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-7 col-md-offset-2 center">

        <div class="form-horizontal">
            <div class="box box-default color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-plus-circle"></i> Ajout d'un nouveau logement</h3>
                </div><br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2">Matricule logement</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MATlog, new { htmlAttributes = new { @class = "form-control",required ="required" } })
                        @Html.ValidationMessageFor(model => model.MATlog, "", new { @class = "text -danger" })
                    </div>
                </div>

               

                <div class="form-group">
                    <label class="control-label col-md-2">Superficie</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Superficie, new { htmlAttributes = new { @class = "form-control",required = "required", pattern = @"^[^-][0-9]$" } })
                        @Html.ValidationMessageFor(model => model.Superficie, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Quartier</label>
                     <div class="col-md-6">
                        @Html.DropDownList("IdQuartier", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdQuartier, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Type de logmenet</label>
                    <div class="col-md-6">
                        @Html.DropDownList("Idtypelog", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Idtypelog, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Creer" class="btn btn-default" />
                        <a class="btn btn-warning" href="/Logements">Annuler</a>

                    </div>
                </div>

                <div class="form-group" style="visibility:hidden">
                    <label class="control-label col-md-2">Charges forfetaires</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.charges_forfetaire, new { htmlAttributes = new { @class = "form-control", @Value = "30$" } })
                        @Html.ValidationMessageFor(model => model.charges_forfetaire, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

}


