﻿@model Gestion_log.Models.Logement

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-8 col-md-offset-2 center">

        <div class="form-horizontal">
            <h4 style="text-align: center;">Logements</h4>
             <hr />
           
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDlog)

                <div class="form-group">
                    @Html.LabelFor(model => model.MATlog, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MATlog, new { htmlAttributes = new { @class = "form-control", required = "required", pattern = @"^[a-zA-Z''-'\s]{1,40}$" } })
                        @Html.ValidationMessageFor(model => model.MATlog, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.charges_forfetaire, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.charges_forfetaire, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.charges_forfetaire, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Superficie, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Superficie, new { htmlAttributes = new { @class = "form-control", required = "required", pattern = @"^[^-][0-9]$" } })
                        @Html.ValidationMessageFor(model => model.Superficie, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdQuartier, "IdQuartier", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdQuartier", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdQuartier, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Idtypelog, "Idtypelog", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Idtypelog", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Idtypelog, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Modifer" class="btn btn-lg btn-success" />
                    <a href="/Logements" class="btn btn-lg btn-warning">Annuler</a>
                </div>
            </div>
            </div>
        </div>
        }

