﻿<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Menu CSS -->
    <link href="~/Content/plugins/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet" />

    <!-- Carousel CSS -->
    <link href="~/Content/plugins/owl.carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/owl.carousel/owl.theme.default.css" rel="stylesheet" />


    <!-- toast CSS -->
    <link href="~/Content/plugins/toast-master/css/jquery.toast.css" rel="stylesheet" />

    <!-- animation CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <!-- Custom CSS -->

    <link href="~/Content/css/app.css" rel="stylesheet" />

    <!-- color CSS -->
    <link href="~/Content/css/colors/orange.css" rel="stylesheet" />
    <!-- Sophia CSS -->
    <link href="~/Content/css/sophia.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("style", required: false)
</head>

<body>



    <nav class="navbar navbar-default navbar-static-top m-b-0">
        @Html.Partial("_LoginBar")

    </nav>
    @Html.Partial("_MenuBar")

    <div class="container">

        @RenderSection("content", required: true)    </div>




    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Menu Plugin JavaScript -->
    <script src="~/Content/plugins/sidebar-nav/dist/sidebar-nav.min.js?v=23"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Content/Scripts/CustomScripts/jquery.slimscroll.js"></script>

    <!--Wave Effects -->
    <script src="~/Content/Scripts/CustomScripts/waves.js"></script>

    <!-- jQuery for carousel -->
    <script src="~/Content/plugins/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/plugins/owl.carousel/owl.custom.js"></script>

    @*<script src="~/Content/Scripts/CustomScripts/app.js"></script>*@

    @RenderSection("script", required: false)


</body>
</html>
