﻿<div class="navbar-header" style="background-color:#013f8a!important;">
    <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
    <div class="top-left-part">
        <a class="logo" href="@Url.Action("AccueilView", "Accueil")">
            <b>
                <img src="~/Content/img/map_pin.png" style="width: 31px;"  />
            </b>
            <span class="hidden-xs">
                <span>Immobilier</span>
                <span style="font-weight:bold">Plus</span>
            </span>
        </a>
    </div>
    <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>

    </ul>
    <!--Menu Horsconnexion-->
    <ul class="nav navbar-top-links navbar-right pull-right">
        <li class="dropdown"><a><i class="fa fa-facebook"></i></a></li>
        <li class="dropdown"><a><i class="fa fa-twitter"></i></a></li>
        <li class="dropdown"><a><i class="fa fa-pinterest"></i></a></li>
        @*<li class="dropdown"><li>@Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li class="dropdown">@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @*<li>@Html.ActionLink("Aller à l'écran d'administration", "Index", "Administration", new { area = "Administration" }, null)</li>*@
        <li class="">@Html.ActionLink("Aller à l'écran d'administration", "Index", "Home", new { area = "Administration" }, null)</li>      
     </ul>
        <!--FinMenu-->
        <!--Profilutilisateur-->
        @*<ul class="nav navbar-top-links navbar-right pull-right">

                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="~/Content/img/sonu.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Jean Philippe KOUASSI</b> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a href="#"><i class="ti-user"></i> Mon profil</a></li>
                        <!--<li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                        <li><a href="#"><i class="ti-email"></i> Inbox</a></li-->
                        <li role="separator" class="divider"></li>
                        <!--<li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                        <li role="separator" class="divider"></li>-->
                        <li><a href="#"><i class="fa fa-power-off"></i> Deconnexion</a></li>
                    </ul>

                </li>

            </ul>*@
</div>
