﻿<div class="row">
    @*@{
        Gestion_log.Models.location_bdEntities2 db = new Gestion_log.Models.location_bdEntities2();
        var type_statut = db.Statut.OrderBy(e => e.Lib_statut).ToList();
        var type_log = db.Type_logement.ToList();
        var quartier = db.Quartier.ToList();
    }*@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

            <div class="col-md-12 col-sm-12 col-xs-12">



                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Gestion des Profils utilisateurs</h3>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Nouvel enregistrement
                        </button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="data_post" class="table table-bordered table-striped">
                                <thead class="table table-bordered table-striped table-responsive">
                                    <tr>
                                        <th>
                                            Libelle
                                        </th>
                                        
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody class="tbody"></tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Nouvel enregistrement</h4>
            </div>
            <div class="modal-body ">
                <form>

                    <input type="text" class="form-control styleID" id="ID" placeholder="Id" disabled="disabled" style="display:none" />

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="Name">Type </label>
                            <input type="text" class="form-control" id="Lib_profil"  />
                        </div>
                      
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Ajouter</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Modifier</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!--Modal supprimer-->
<div class="modal fade " id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/Areas/Administration/Content/images/cancel.png" style="margin-left: 37% !important;" class="animateErrorIcon" />
                <h2 style="color: #505458;font-family: 'Karla', sans-serif;margin: 10px 0;line-height: 35px;text-align:center">Etes-vous sûr de vouloir  </h2>

                <p style="margin-left: 33%; margin-top: 10%;">
                    <button class="btn btn-lg btn-default btnfermer" type="reset" tabindex="2" style="display: inline-block;">Annuler</button>
                    <button class="btn btn-lg btn-danger waves-effect waves-light btnvalidersupp" type="submit" tabindex="1" style="display: inline-block;">Danger!</button>
                </p>
            </div>



        </div>



    </div>
</div>

<!--Finmodal supprimer-->
@section script{
    <script src="~/Areas/Administration/Scripts/Profil.js"></script>
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>






    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <script>
        $(".my_select2").select2();
    </script>*@










